/* .event_card_container .event_display{
    margin-top:0px;
} */

.event_card_container .event_display .card_container{
    background-color: #3B8C75;
    border-radius: 5px;
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event_card_container .event_display .card_container .card_date_container{
    display:flex;
    justify-content: flex-end;
    width:95%;
    font-family: 'Fira Sans Condensed',sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}
.card_container .card_name_container{
    margin-top:15px;
    font-family: 'Fira Sans Condensed',sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    width:95%;
}
.card_container .card_content_container{
    display:flex;
    width:100%;
    align-items:center;
    margin-top:15px;
}
.card_container .card_content_container .card_img_container, .card_container .card_content_container .card_info_container {
    width:50%;
}
.card_container .card_content_container .card_info_container .card_time, .card_container .card_content_container .card_info_container .card_location{
    display: flex;
    align-items: center;
    height:35px;
}
.card_container .card_info_text{
    margin-left:10px;
}
.card_container .card_register{
    width:100%;
    padding:8px 5px;
    background-color: white;
    color:#3C8F7D;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}