.event_review_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.event_review_container .event_review_content_container{
    width:19vw;
}
.event_review_container .card_display_container{
    width: 19vw;
}
.event_review_container .event_details{
    background-color: white;
    border-radius: 8px;
    margin-top: 15px;
    padding:0px 10px;
}
.event_review_container .event_details .row{
    display:flex;
    color:black;
}
.event_review_container .event_details .row .bold{
    font-weight: 700;
    width: 50%;
    margin-top:5px;
    margin-bottom: 5px;
}
.event_review_container .event_details .row .response{
    width:50%;
    margin-top:5px;
    margin-bottom: 5px;
}

.event_review_container .pre-event_question{
    color:black;
    background-color: white;
    margin-top:15px;
    padding:10px;
    border-radius: 8px;
}
.event_review_container .pre-event_question p{
    margin:0;
    margin-bottom: 5px;
}
.event_review_container .event_location_container{
    margin-top: 15px;
    display:flex;
    height:150px;
    width:100%;
    background-color: white;
    padding: 10px 0px;
    flex-direction: row;
    border-radius: 8px;
    color:black;
}
.event_review_container .event_location_container .location_container{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event_review_container .event_location_container .location_container img{
    height:98%;
    width: 90%;
}
.event_review_container .create_button_container{
    margin-top: 15px;
}
.event_review_container .create_button{
    width:100%;
    padding:10px;
    background-color: #3C8F7D;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    color:white;
    font-family: 'Inter',sans-serif;
}