.continue_container{
    width:100%;
    height:50px;
    background-color: #F26457;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    margin-top:10px;
}