.sign_in_container{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.sign_in_content_container form{
    width:19vw;
    
}
.sign_in_content_container form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display:flex;
}
.sign_in_content_container form input[type=submit] {
    background-color: #F26457;
    outline:none;
    border:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin:25px 0;
    color:white;
}
.sign_in_content_container form input::placeholder{
    color: #667085;
    font-family: 'Inter',sans-serif;
}
.sign_in_content_container form label{
    font-family: 'Inter', sans-serif;
    color:white;
    font-size: 1rem;
}