.create_event_header_container{
    color:white;
    font-family: 'Fira Sans Condensed',sans-serif;
    width:19vw;
}
.create_event_header_container .event_header_top{
    display: flex;
    /* height:100px; */
    justify-content: center;
    align-items: center;
}
.create_event_header_container .event_header_top img{
    object-fit: contain;
}

.create_event_header_container h1{
    margin-top: -10px;
}