.event_location_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.event_location_container .event_location_content{
    width:19vw;
}
.event_location_container .event_location_content .location_search{
    width:100%;
    height:35px;
    
    border-radius: 8px;
    
}
.event_location_container .event_location_content .map_img{
    width: 100%;
    object-fit: fill;
    margin-top:10px;
    margin-left:2px;
}