.event_title_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.event_title_container .container{
    width:19vw;
}
.event_title_container .container input, .event_title_container .container textarea{
    width:100%;;
}
.event_title_container .container input::placeholder, .event_title_container .container textarea::placeholder{
    font-family: 'Inter',sans-serif;
    color:black;
}
.event_title_container .container .name_input{
    padding:10px 10px;
    border-radius: 8px;
    border: none;
    outline:none;
}
.event_title_container .container .description_input{
    padding:10px 10px;
    height:150px;
    border-radius: 8px;
    border: none;
    outline:none;
    vertical-align: top;
}
.event_title_container .button_container{
    display:flex;
}
.event_title_container .button_container .color_dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    
    display: inline-block;
    margin-right:8px;
}
.event_title_container .button_container .public_button, .event_title_container .button_container .private_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
    width:100px;
    height:30px;
    border-radius: 5px;
    margin-right:20px;
}