.login_container{
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
}
.login_container .login_content_container{
    width:19vw;
    /* background-color: green; */
    color:white;
    height:30vh;
    display:flex;
    flex-direction: column;
    padding:10px;
}
.login_container .login_content_container .login_header{
    font-family: 'Fira Sans', sans-serif;
    font-size:1.25rem;
}
.sign_in_button{
    width:100%;
    padding:10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'inter',sans-serif;
    color:344054;
}
.sign_in_button .sign_in_img{
    margin-right:5px;
    height:15px;
}
/* .login_button_container {
    display:flex;
    flex-direction: column;
} */
.login_button_container .or_text{
    display:flex;
    justify-content: center;
    width:100%;
    font-family: 'Inter', sans-serif;
}