.event_image_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.event_image_container h2{
    width: 19vw;
    color:white;
}
.event_image_container .default_img_container, .event_image_container .own_img_container{
    width:19vw;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:10px;
    border-radius: 10px;
    margin-top: 15px;
}
.event_image_container .default_img_container h3, .own_img_container h3{
    color:black;
    
}
.line_with_break {
    text-align: center;
    position: relative;
    width: 19vw;
    margin-top:10px;
}

.line {
    display: block;
    border-top: 1px solid white;
    width: 19vw;
    position: absolute;
    top: 60%;
    z-index: 0;
}

.break_word {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    background-color: rgb(20,57,89);
}
/* .own_img_container .upload_container input{
    background-color: #F9FAFB;
} */
.file-input-container {
    position: relative;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.file-input-label {
    display: flex;
    padding: 8px 16px;
    color: black;
    cursor: pointer;
    background-color: #F9FAFB;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.file-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.own_img_container .image_display{
    background-color:#F9FAFB;
    height:100px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid rgb(211, 211, 211);
}
.own_img_container .img_selection_container{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.continue_button_container{
    width:19vw;
    margin-top: 10px;
}