.event_type_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color:white;
}
.event_type_container .event_type_content{
    width:19vw;
}
.event_type_container .event_type_content .type_container{
    display:flex;
    flex-wrap: wrap;
}
.color-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
    display: inline-block;
    margin-right:8px;
}
.event_type_container .event_type_content .type_button{
    margin-right:10px;
    color:#1D2939;
    font-family: 'Inter',sans-serif;
    padding:10px 10px;
    border-radius: 5px;
    margin-bottom:10px;
    cursor: pointer;
}
.event_type_container .event_type_content .type_button:active{
    transform:scale(0.95);
}
.event_type_time{
    width:19vw;
}
.event_type_time h2{
    margin:0;
}
.event_type_time .event_time{
    display: flex;
    flex-direction: column;
}
.event_type_time .event_time .event_label, .event_type_time .event_time .event_input{
    width:100%;
    display: flex;
}
.event_type_time .event_time .event_label label, .event_type_time .event_time .event_input input{
    width:40%;
    margin-bottom: 5px;
    margin-right: 10px;
}
.event_type_time .event_time .event_input input{
    border-radius: 5px;
    outline:none;
    border:none;
    text-align: center;
    width:40%;
    height:30px;
}
.event_type_container .event_type_capacity{
    width:19vw;
}
.event_type_container .event_type_capacity .event_capacity{
    display: flex;
    align-items: flex-start;
}
.event_capacity label{
    margin-left:10px;
    margin-right: 50px;
}
.event_capacity .custom_capacity{
    /* display: flex;
    flex-direction: column; */
}
.event_capacity .custom_number{
    width:80px;
    height:30px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.event_type_container .red_button{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display:flex;
    background-color: #F26457;
    display: flex;
    justify-content: center;
    border:none;
    cursor: pointer;
    color:white;
}
.event_type_container .continue_component_container{
    width:19vw;
}